# Bytecode and virtual envs
__pycache__/
*.pyc
.venv/

# PyInstaller
build/
*.spec

# Dist folder except final EXE
dist/*
!dist/CardScanner.exe

# OS noise
.DS_Store
Thumbs.db

# Local tooling
.scrape_tool
scrape_tool.py
